<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>
<!-- Toast -->
<div th:replace="snippets.html :: name_toast"></div>

<div class="container">
    <div class="row">

        <div class="col-12">

            <h3 style="padding-bottom:20px">Inventory report</h3>
        </div>

        <form class="form-inline" id="daily-report-form" style="padding-left:15px">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="brandName"><b>Brand Name</b></label>
                </div>
                <input type="text" class="form-control" name="brandName" id="form-brand-select"
                       placeholder="Brand"></input>
            </div>
            <div class="input-group mb-3" style="margin-left: 10px">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="category"><b>Category</b></label>
                </div>
                <input type="text" class="form-control" name="category" id="form-category-select"
                       placeholder="Category"></input>
            </div>
        </form>

        <div class="col">
            <button type="button" class="btn btn-sm btn-primary" id="filter">Filter</button>
        </div>

        <div class="col-12">
            <button type="button" class="btn btn-primary" onclick="downloadInventoryReport()">Download</button>
        </div>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="inventory-report-table">
                <thead>
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>


</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>
<script th:src="@{/static/inventory_report.js}"/>
</script>

</html>