<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>


<div class="container">

    <div class="row">
        <div class="col-6">

            <div class="card">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    <form class="form" id="login-form" method="POST" th:action="@{/session/login}">
                        <div class="form-group">
                            <label class="col-sm-10 col-form-label" for="email">Email</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="email" name="email" placeholder="enter email"
                                       type="text">
                            </div>
                        </div>
                        <button class="btn btn-sm btn-primary" id="login" type="submit">Go</button>
                    </form>
                </div>
                <div class="card-footer text-danger">
                </div>

            </div>


        </div> <!-- Col -->
    </div> <!-- Row -->

</div> <!-- Container-->

<footer th:replace="snippets.html :: name_footer"></footer>

</body>

</html>
